* {
  font-family: "Style Script", cursive;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 20px 0 100px;
  padding: 0;
  text-align: center;
}

footer {
  background-color: #e3e9c2;
  position: absolute;
  font-size: 1.2rem;
  left: 0;
  bottom: 0;
  text-align: center;
  height: 50px;
  width: 100%;
  overflow: hidden;
}

.heading {
  padding-top: 20px;
  font-weight: bold;
}

.search {
  border-radius: 0.5em;
  margin-right: 20px;
  font-family: "Courier New", Courier, monospace;
}
